// /* Set global mixins that are used in more than one place. */
// @font-face {
//     font-family: 'kernit';
//     src: url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1678709564/font/Kernit-Filled_zmrmcc.woff2') format('woff2'),
//     url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1678709564/font/Kernit-Filled_q2nas2.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'kernit-outline';
//     src: url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1678709564/font/Kernit-Outline_g8d9zc.woff2') format('woff2'),
//     url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1678709564/font/Kernit-Outline_yfhllb.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }
/* Set global mixins that are used in more than one place. */
@font-face {
    font-family: 'ChicagoFLF';
    src: url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1683283331/ChicagoFLF_tddwwl.woff2') format('woff2'),
    url('https://res.cloudinary.com/dmb4l3zfo/raw/upload/v1683283331/ChicagoFLF_e08og2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}